   .left-col {
    border: solid 2px #e2e2e3;
    background-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 20%;
}

.right-col {
    min-height: 75vh;
    height: fit-content;
    width: 80%;
}

.left-col-button {
    width: 93.8%;
    height: 45px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button {
    background-color: #298f5c;
    width: 120px;
    height: 46px;
    color: #fafafa;
    position: inherit;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: solid 1px #016533;
}

.bover:hover {
    background-color: #c58b10;;
  }

.download-css {
    color: #066636;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.link-active {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fafafa;
    color: black;
}

.desc1-text {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

mat-card {
    border-radius: 8px !important;
    border: 1px gray solid;
}

.mat-column-code {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 20%;
}

.mat-column-mode {
    width: 50%;
}

.mat-column-mode {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30%;
}

.mat-column-caption {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 40%;
}

.mat-column-provinceName {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 40%;
}

.mat-column-desmode {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 60%;
}

.example-container {
    margin: 10px;
    cursor: pointer;
    min-height: 500px;
    font-size: 16px;
    font-weight: 500;
}

table {
    width: 100%;
}

.active {
    background: #066636 !important;
    color: white;
}

.rt_mainBody {
    border-left: 1px solid #dbdfea;
    min-height: 500px;
    padding: 15px;
    width: 80%;
    /* background-color: white; */
    display: inline-block;
}

.mat-column-itemCode {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mat-column-action {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mat-column-edit {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mat-column-roleName {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mat-row {
    height: 30px;
}

.mat-row-cell {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.mat-card .table-tasks {
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #fafafa;
    border: 1px solid #e2e2e3;
    position: relative;
}


.table-tasks td.mat-cell:first-of-type {
    padding: 10px 16px 10px 16px;
    width: 66px;
}

.table-tasks td.mat-cell {
    border: 0;
}

.table-tasks tr.mat-row {
    background-color: #F1F1F1;
    border-bottom: 8px solid #fafafa;
}

.table-tasks tr.mat-footer-row {
    background-color: #F1F1F1;
    border-bottom: 8px solid #fafafa;
    text-align: center;
}

.cell-task {
    font-size: 13px;
}

.card-table-tasks {
    margin-left: 0 !important;
    margin-top: 0 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.table-tasks span:first-child {
    padding-left: 16px;
    margin-top: 12px;
}

.table-tasks span:nth-child(2) {
    margin-left: -10px;
    margin-top: 12px;
}

.table-tasks span:nth-child(2) p {
    margin-bottom: 4px;
}

.table-tasks span:nth-child(2) p:first-child {
    font-size: 16px;
    color: #333333;
}

.table-tasks span:nth-child(2) p:nth-child(2) {
    font-size: 14px;
    color: #666666;
}

.table-tasks .row {
    border-bottom: 1px solid #e2e2e3;
}

.table-tasks .row:last-child {
    border-bottom: 0;
}

.specer{
    flex: 1 1 auto;
}

.location-button {
    background-color: #298f5c;
    width: 150px;
    height: 46px;
    color: #fafafa;
    position: inherit;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: solid 1px #016533;
}

.text-small {
    font-size: 11px !important;
    font-weight: bold;
}
