<h4 mat-dialog-title><span>{{data?.province?.caption}} {{data?.province?.reservationSystem}} System</span></h4>
<div mat-dialog-content>
    <form [formGroup]="fg">
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Township/Allotment/Administration District/Registration Division</mat-label>
                    <mat-select formControlName="assignedTownship" [(ngModel)]="TownshipModel" #townshipSelect
                      required>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="townshipFilterCtrl"
                          [ngModelOptions]="{ standalone: true }" placeholderLabel="Search..."
                          noEntriesFoundLabel="'No result found'">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let x of filteredTownship | async" [value]="x.boundaryId">
                        {{ x?.majorRegionOrAdminDistrict }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>System</mat-label>
                    <mat-select [(ngModel)]="system" formControlName="assignedsystem">
                        <mat-option *ngFor="let data of systemArr" [value]="data.name">
                            {{data.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button [mat-dialog-close]="1" class="cancel-button cancel" mat-raised-button>Cancel</button>
    <button (click)="submit()" class="submit-button bover float-right" mat-raised-button>Submit</button>
</div>
