<div class="top-spacing">
    <div class="w-100">
        <div class="container-fluid pr-0">
            <span class="row mx-0">
                <span class="col-lg-11 p-l-0" style="display: inline-flex;">
                    <p class="Headings">Examination</p>
                </span>
            </span>
            <div class="row mx-0 tab-grid-remove">
               
                <div class="col-lg-8">

                    <div class="padd-right">
                        <span class="row mx-0">
                            <span class="col padd-right">

                                <mat-card class="card-table-tasks">

                                    <mat-card-content class="table-tasks" style="overflow-x: hidden;">
                                        <div class="row p-0 m-0">
                                            <div class="col-md-6 mt-3">
                                                <div class="sub-heading">Examination Submissions</div>
                                            </div>
                                            <div class="col-md-5 mt-2 float-right">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Search By Reference Number</mat-label>
                                                    <input matInput autocomplete="off">
                                                    <button mat-icon-button matSuffix type="button">
                                                        <mat-icon type="submit">search
                                                        </mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-button (click)="gotoExaminationDetails()">Proceed</button>
                                        <button mat-button (click)=" createExamination()">Create Examination</button>
 
                                    </mat-card-content>
                                </mat-card>

                            </span>
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>