<div class="top-spacing">
    <div class="w-100">
        <div class="container-fluid pr-0">
            <span class="row mx-0">
                <span class="col-lg-12 p-l-0" style="display: inline-flex;">
                    <i style="font-size: 30px; cursor: pointer; margin-right: 20px" (click)="navigateToExaminationList()"
                        class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    <h2><a style="color: blue; cursor: pointer !important;">
                            {{examData?.referenceNo}} </a> - {{examData?.actionRequiredDescription}}
                        {{examData?.name}} of {{examData?.provinceName}}</h2>
                </span>
            </span>
            <div class="row mx-0 tab-grid-remove">
                <div class="col-lg-12">
                    <mat-tab-group selectedIndex="0" >
                        <mat-tab label="Lodgement Details">
                            <app-examination-lodgement-details (outputFromChild)="receiveChildBtachData($event)" [taskDetails]="examData" [examinationData]="examinationDetails"></app-examination-lodgement-details>
                        </mat-tab>
                      <!--   <mat-tab label="Batch Management">
                           <app-batch-management></app-batch-management>
                        </mat-tab>
                        <mat-tab label="Docket">
                            <app-docket-examination></app-docket-examination>
                        </mat-tab> -->
                        <mat-tab label="Docket" *ngIf="docketTab">
                            <app-docket-examination [batchDetails]="batchDetails"></app-docket-examination>
                        </mat-tab>
                        <mat-tab label="Request Flow">
                            <app-examination-request-flow [workflowId]="examData.workflowId"></app-examination-request-flow>
                        </mat-tab>
                        <mat-tab label="Referral Input">
                            <app-referral-input-examination [workflowId]="examData.workflowId"></app-referral-input-examination>
                        </mat-tab>
                       <mat-tab label="Sign Approval Document" *ngIf="signApprovalTab">
                            
                        </mat-tab>
                        <mat-tab label="Post Approval Process" *ngIf="postApprovalTab">
                            
                        </mat-tab>
                        <mat-tab label="Dispatch" *ngIf="dispatchTab">
                            <app-examination-dispatch></app-examination-dispatch>
                        </mat-tab>
                        <mat-tab label="Decision">
                            <app-examination-decision [taskDetail]="examData"></app-examination-decision>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
