<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img alt="" src="assets/images/logos/circle.png">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="msg-css">Proof of payment added successfully</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4 class="t-css">Thank you for using our services.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>REFERENCE NUMBER</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="req_id">{{refNo}}</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="close()" class="btn-css mx-auto">Close</button>
    </div>
</div>
