<div class="row mx-0">
    <p class="Headings">Land Information</p>
</div>
<mat-card>
    <mat-card-content>
        <div class="row mx-0">
            <div class="col-md-6">
                <img alt="" src="assets/images/Mask Group@3x.png" style="width: 520px; height: 492px;">
            </div>
            <div class="col-md-6">
        <span class="row">
          <img alt="" src="assets/images/Group 334@3x.png" style="width: 20px; height: 20px;">
          <p class="Headings">35, Angle Road, Johannesburg, Gauteng</p>
        </span>
                <span class="row">
          <span class="col">Farm Name:</span>
          <span class="col">Farm Number:</span>
        </span>
                <span class="row">
          <span class="col text">MAMELODI</span>
          <span class="col text">608</span>
        </span>
                <span class="row mt-2">
          <span class="col box">
            <h4>Description</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat....
          </span>
        </span>
                <span class="row mt-2">
          <span class="col box">
            <span class="row mt-2">
              <span class="col">Admin Department:</span>
              <span class="col">Parcel Type:</span>
            </span>
            <span class="row">
              <span class="col text">JR</span>
              <span class="col text">FARM</span>
            </span>
            <span class="row mt-2">
              <span class="col">LPI Code:</span>
              <span class="col">Document Type:</span>
            </span>
            <span class="row">
              <span class="col text">TOJR00006080000</span>
              <span class="col text">DIAGRAM</span>
            </span>
            <span class="row mt-2">
              <span class="col">SG Number:</span>
              <span class="col">File Size:</span>
            </span>
            <span class="row">
              <span class="col text">A3974/1986</span>
              <span class="col text">3 MB</span>
            </span>
            <span class="row mt-2">
              <span class="col">
                <button mat-raised-button class="download float-right"><span class="download-text">Download</span></button>
              </span>
            </span>
          </span>
        </span>
            </div>
        </div>
        <div class="row mt-3">
      <span class="col">
        <button mat-raised-button [routerLink]="['/home']" class="download mx-2"><span class="download-text">Back</span></button>
      </span>
            <span class="col-5 float-right">
        <button mat-raised-button class="download mx-2"><span class="download-text">Add to wishlist</span></button>
        <button mat-raised-button class="download mx-2"><span class="download-text">View on Map</span></button>
        <button mat-raised-button class="submit ml-2"><span class="submit-text">Buy Land</span></button>
      </span>
        </div>
    </mat-card-content>
</mat-card>
