.icon-format {
    color: #066636;
    cursor: pointer;
}

.card-format {
    border: solid 1px #f9f9f9;
    background-color: #ffffff;
    border-radius: 10px;
}

::ng-deep .mat-card .mat-card-content {
    font-weight: 14px !important;
    font-weight: 500px !important;
}

.head-css {
    font-size: 16px;
    font-weight: 500;
    color: #c58b10;
}

.h-css {
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #c58b10;
}

.timings p {
    font-size: 14px;
    margin-bottom: 0;
}

.timings-card {
    background-color: #EEF5F9;
}

.timings-card p:first-of-type {
    margin-bottom: 0;
}

.timings div {
    width: 100%;
}

.timepicker {
    z-index: 99999;
}

.submit-button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 120px;
    background-color: #016533;
    border: 0;
    height: 44px;
    color: white;
  }

  .bover:hover {
    background-color: #c58b10;;
  }

.mat-column-sno {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mat-column-action {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}