
<div mat-dialog-content class="mat-dialog-content1">
  <div class="container-fluid pr-0" id="print-section">
      <div class="row mx-0 tab-grid-remove">
          <div class="col-lg-12">

            <!--  Diagram Docket-->
            <mat-expansion-panel *ngIf="diagram">
              <mat-expansion-panel-header>
              <mat-panel-title>
                Diagram Docket
              </mat-panel-title>
              <mat-panel-description>
                  
              </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card>
                <form class="text-center border border-light p-5">
                  <p class="h4 mb-4">SURVEYOR-GENERAL:DIAGRAM EXAMINATION DOCKET</p>

                <div class="form-row mb-4">
                    <div class="col">
                      <mat-form-field appearance="outline" >
                          <mat-label>Batch Number </mat-label>
                              <input  class="form-control" value="{{docketInfo.batchNo}}" matInput disabled >
                      </mat-form-field>
                    </div>

                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>SG Number </mat-label>
                            <input class="form-control" value="{{docketInfo.sgNo}}" matInput disabled >
                    </mat-form-field>
                </div>
                  
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Description </mat-label>
                            <input  class="form-control" value="{{docketInfo.description}}" matInput disabled >
                    </mat-form-field>
                </div>

                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>SR Number </mat-label>
                          <input  class="form-control" value="{{docketInfo.srNo}}" matInput disabled >
                  </mat-form-field>
                </div>

                </div>
                

                <div class="form-row mb-4">
          
                  <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>Date Received </mat-label>
                              <input type="text" class="form-control" value="{{docketInfo.dateReceived}}" matInput disabled >
                      </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>No of Dgms </mat-label>
                          <input type="text" class="form-control" value="{{docketInfo.noOfDgms}}" matInput disabled >
                  </mat-form-field>
                  </div>
                  <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Plan Size acceptable </mat-label>
                      <input type="text" class="form-control" value="{{docketInfo.planSizeAcceptable}}" matInput disabled >
              </mat-form-field>
                </div>

                  

                  <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>Land Surveyor</mat-label>
                              <input  class="form-control" value="{{docketInfo.landSurveyor}}" matInput disabled >
                      </mat-form-field>
                      
                    
                  </div>

                  <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>Company Name </mat-label>
                              <input  class="form-control" value="{{docketInfo.companyName}}" matInput disabled >
                      </mat-form-field>
                  </div>
                </div>


                <div class="form-row mb-4">
                  <div class="col">
                    <mat-form-field appearance="outline" >
                        <mat-label>Submited By </mat-label>
                            <input  class="form-control" value="{{docketInfo.submittedBy}}" matInput disabled >
                    </mat-form-field>
                  </div>

              <div class="col">
                  <mat-form-field appearance="outline">
                      <mat-label>Returned To </mat-label>
                          <input class="form-control" value="{{docketInfo.returnTo}}" matInput disabled >
                  </mat-form-field>
              </div>
                
              <div class="col">
                  <mat-form-field appearance="outline">
                      <mat-label>Recieved By </mat-label>
                          <input  class="form-control" value="{{docketInfo.receivedBy}}" matInput disabled >
                  </mat-form-field>
              </div>

                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Checked By </mat-label>
                        <input  class="form-control" value="{{docketInfo.checkedBy}}" matInput disabled >
                </mat-form-field>
              </div>

                </div>

                <div class="form-row mb-4">
                <div class="col">
                  <mat-form-field appearance="outline">
                      <mat-label>Reference number </mat-label>
                          <input  class="form-control" value="{{docketInfo.refNumber}}" matInput disabled >
                  </mat-form-field>
                </div>

            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>File reference </mat-label>
                        <input class="form-control" value="{{docketInfo.fileReference}}" matInput disabled >
                </mat-form-field>
            </div>
              
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Examination fees </mat-label>
                        <input  class="form-control" value="{{docketInfo.examinationFees}}" matInput disabled >
                </mat-form-field>
            </div>

              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Receipt number  </mat-label>
                      <input  class="form-control" value="{{docketInfo.recieptNo}}" matInput disabled >
              </mat-form-field>
            </div>

                </div>
                   
                <div class="form-row mb-4">
                  <div class="col">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>First Level examination</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card >
                        <form class="text-center border border-light p-5">
                          <div class="col">
                              <table class="table">
                                <thead>
                                
                                  <tr>
                                    
                                    <th scope="col">Exam Items</th>
                                    <th scope="col">Examiner</th>
                                    <th scope="col" *ngIf="user == Scrutinizer">Scrutinizer</th> 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of ExaminationItems">
                                
                                    <td>{{item.name}}</td>
                                    <td>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}" value="Y" (change)="OnItemChange($event)">
                                        <label for="{{item.docketListId}}" >Yes</label><br>
                                      <input type="radio" id="{{item.docketListId}}"  value="N" name="{{item.docketListId}}" (change)="OnItemChange($event)">
                                        <label for="{{item.docketListId}}">No</label><br>
                                    </td>

                                    <td >
                                      <input type="radio" id="{{item.itemCode}}" value="Y" name="{{item.itemCode}}" (change)="OnItemChange($event)">
                                        <label for="{{item.itemCode}}">Yes</label><br>
                                      <input type="radio" id="{{item.itemCode}}"  value="N" name="{{item.itemCode}}" (change)="OnItemChange($event)" >
                                        <label for="{{item.itemCode}}">No</label><br>
                                    </td>
                                
                                  </tr>
                                    
                                  
                                    
                                 
                                </tbody>
                              </table>
                              
                          </div>
                          <button mat-raised-button (click)="convertArrayToJson()">Submit Exam</button>
                        </form>  
                      </mat-card> 
                    </mat-expansion-panel>
                  </div>

              <div class="col">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Second Level examination</mat-panel-title>
                  
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <div>
                        <section *ngFor="let prev of ExaminationItems">
                          <mat-checkbox
                              [value]="prev">{{prev.name}}
                          </mat-checkbox>
                        </section>
                      </div>
                    </form>  
                  </mat-card> 
                </mat-expansion-panel>
              </div>
                
              

              </div>

                </form>  
              </mat-card>

              
          </mat-expansion-panel>

            <!-- General Plan docket -->

              <mat-expansion-panel *ngIf="generalplan">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    General Plan docket
                  </mat-panel-title>
                  <mat-panel-description>
                      
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <p class="h4 mb-4">SURVEYOR-GENERAL:DIAGRAM EXAMINATION DOCKET</p>
    
                    <div class="form-row mb-4">
                        <div class="col">
                          <mat-form-field appearance="outline" >
                              <mat-label>Batch Number </mat-label>
                                  <input  class="form-control" value="{{docketInfo.batch_NO}}" matInput disabled >
                          </mat-form-field>
                        </div>
    
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>SG Number </mat-label>
                                <input class="form-control" value="{{docketInfo.sg_NO}}" matInput disabled >
                        </mat-form-field>
                    </div>
                      
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Description </mat-label>
                                <input  class="form-control" value="{{docketInfo.description}}" matInput disabled >
                        </mat-form-field>
                    </div>
    
                      <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>SR Number </mat-label>
                              <input  class="form-control" value="{{docketInfo.sr_NO}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                    </div>
                    
    
                    <div class="form-row mb-4">
              
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Date Received </mat-label>
                                  <input type="text" class="form-control" value="{{docketInfo.date_RECIEVED}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <span>No of Dgms:  - {{docketInfo.no_OF_DGMS}}  Plan Size acceptable
                              {{docketInfo.plansizeaccepptable}}
                          </span>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Land Surveyor</mat-label>
                                  <input  class="form-control" value="{{docketInfo.landsurveyor}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Company Name </mat-label>
                                  <input  class="form-control" value="{{docketInfo.companyname}}" matInput disabled >
                          </mat-form-field>
                          </div>
                    </div>
    
    
                    <div class="form-row mb-4">
                      <div class="col">
                        <mat-form-field appearance="outline" >
                            <mat-label>Submited By </mat-label>
                                <input  class="form-control" value="{{docketInfo.submittedby}}" matInput disabled >
                        </mat-form-field>
                      </div>
    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Returned To </mat-label>
                              <input class="form-control" value="{{docketInfo.returnto}}" matInput disabled >
                      </mat-form-field>
                  </div>
                    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Recieved By </mat-label>
                              <input  class="form-control" value="{{docketInfo.receivedby}}" matInput disabled >
                      </mat-form-field>
                  </div>
    
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Checked By </mat-label>
                            <input  class="form-control" value="{{docketInfo.checkedby}}" matInput disabled >
                    </mat-form-field>
                  </div>
    
                  </div>
    
                  <div class="form-row mb-4">
                    <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Reference number </mat-label>
                              <input  class="form-control" value="{{docketInfo.refnumber}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>File reference </mat-label>
                            <input class="form-control" value="{{docketInfo.filereference}}" matInput disabled >
                    </mat-form-field>
                </div>
                  
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Examination fees </mat-label>
                            <input  class="form-control" value="{{docketInfo.examinationfees}}" matInput disabled >
                    </mat-form-field>
                </div>
    
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>Receipt number  </mat-label>
                          <input  class="form-control" value="{{docketInfo.recieptno}}" matInput disabled >
                  </mat-form-field>
                </div>
    
                </div>
                       
                <div class="form-row mb-4">
                  <div class="col">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Examiner checkList</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card >
                        <form class="text-center border border-light p-5">
                          <div class="col">
                              <table class="table">
                                <thead>
                                  <tr>
                                    
                                    <th scope="col">Exam Items</th>
                                    <th scope="col">Examiner</th>
                                    <th scope="col">Scrutinizer</th> 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of ExaminationItems">
                                
                                    <td>{{item.name}}</td>
                                    <td>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">Yes</label><br>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">No</label><br>
                                    </td>

                                    <td>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">Yes</label><br>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">No</label><br>
                                    </td>
                                
                                  </tr>
                                    
                                  
                                    
                                 
                                </tbody>
                              </table>
                          </div>
                        </form>  
                      </mat-card> 
                    </mat-expansion-panel>
                  </div>

              <div class="col">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Second Level examination</mat-panel-title>
                  
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <div>
                        <section *ngFor="let prev of ExaminationItems">
                          <mat-checkbox
                              [value]="prev">{{prev.name}}
                          </mat-checkbox>
                        </section>
                      </div>
                    </form>  
                  </mat-card> 
                </mat-expansion-panel>
              </div>
                
              

              </div>
                     
                    </form>  
                  </mat-card> 
              </mat-expansion-panel>


              <!--Sarvitude plan docket -->
              <mat-expansion-panel *ngIf="servitudeplan">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    Sarvitude plan docket
                  </mat-panel-title>
                  <mat-panel-description>
                      
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <p class="h4 mb-4">SURVEYOR-GENERAL:DIAGRAM EXAMINATION DOCKET</p>
    
                    <div class="form-row mb-4">
                        <div class="col">
                          <mat-form-field appearance="outline" >
                              <mat-label>Batch Number </mat-label>
                                  <input  class="form-control" value="{{docketInfo.batchNo}}" matInput disabled >
                          </mat-form-field>
                        </div>
    
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>SG Number </mat-label>
                                <input class="form-control" value="{{docketInfo.sgNo}}" matInput disabled >
                        </mat-form-field>
                    </div>
                      
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Description </mat-label>
                                <input  class="form-control" value="{{docketInfo.description}}" matInput disabled >
                        </mat-form-field>
                    </div>
    
                      <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>SR Number </mat-label>
                              <input  class="form-control" value="{{docketInfo.srNo}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                    </div>
                    
    
                    <div class="form-row mb-4">
              
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Date Received </mat-label>
                                  <input type="text" class="form-control" value="{{docketInfo.dateReceived}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          

                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Land Surveyor</mat-label>
                                  <input  class="form-control" value="{{docketInfo.landsurveyor}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Company Name </mat-label>
                                  <input  class="form-control" value="{{docketInfo.companyname}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          
                    </div>
    
    
                    <div class="form-row mb-4">
                      <div class="col">
                        <mat-form-field appearance="outline" >
                            <mat-label>Submited By </mat-label>
                                <input  class="form-control" value="{{docketInfo.submittedby}}" matInput disabled >
                        </mat-form-field>
                      </div>
    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Returned To </mat-label>
                              <input class="form-control" value="{{docketInfo.returnto}}" matInput disabled >
                      </mat-form-field>
                  </div>
                    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Recieved By </mat-label>
                              <input  class="form-control" value="{{docketInfo.receivedby}}" matInput disabled >
                      </mat-form-field>
                  </div>
    
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Checked By </mat-label>
                            <input  class="form-control" value="{{docketInfo.checkedby}}" matInput disabled >
                    </mat-form-field>
                  </div>
    
                  </div>
    
                  <div class="form-row mb-4">
                    <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Reference number </mat-label>
                              <input  class="form-control" value="{{docketInfo.refnumber}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>File reference </mat-label>
                            <input class="form-control" value="{{docketInfo.filereference}}" matInput disabled >
                    </mat-form-field>
                </div>
                  
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Examination fees </mat-label>
                            <input  class="form-control" value="{{docketInfo.examinationfees}}" matInput disabled >
                    </mat-form-field>
                </div>
    
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>Receipt number  </mat-label>
                          <input  class="form-control" value="{{docketInfo.recieptno}}" matInput disabled >
                  </mat-form-field>
                </div>
    
                </div>
                       
                <div class="form-row mb-4">
                  <div class="col">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Examiner checkList</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card >
                        <form class="text-center border border-light p-5">
                          <div class="col">
                              <table class="table">
                                <thead>
                                  <tr>
                                    
                                    <th scope="col">Exam Items</th>
                                    <th scope="col">Examiner</th>
                                    <th scope="col">Scrutinizer</th> 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of ExaminationItems">
                                
                                    <td>{{item.name}}</td>
                                    <td>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">Yes</label><br>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">No</label><br>
                                    </td>

                                    <td>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">Yes</label><br>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">No</label><br>
                                    </td>
                                
                                  </tr>
                                    
                                  
                                    
                                 
                                </tbody>
                              </table>
                          </div>
                        </form>  
                      </mat-card> 
                    </mat-expansion-panel>
                  </div>

              <div class="col">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Second Level examination</mat-panel-title>
                  
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <div>
                        <section *ngFor="let prev of ExaminationItems">
                          <mat-checkbox
                              [value]="prev">{{prev.name}}
                          </mat-checkbox>
                        </section>
                      </div>
                    </form>  
                  </mat-card> 
                </mat-expansion-panel>
              </div>
                
              

              </div>
                     
                    </form>  
                  </mat-card>
              </mat-expansion-panel>


             <!--  <Sectional Plan Docket> -->
              <mat-expansion-panel  *ngIf="sectionaltitleplan">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    Sectional Plan Docket
                  </mat-panel-title>
                  <mat-panel-description>
                      
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <p class="h4 mb-4">SURVEYOR-GENERAL:DIAGRAM EXAMINATION DOCKET</p>
    
                    <div class="form-row mb-4">
                        <div class="col">
                          <mat-form-field appearance="outline" >
                              <mat-label>Batch Number </mat-label>
                                  <input  class="form-control" value="{{docketInfo.batch_NO}}" matInput disabled >
                          </mat-form-field>
                        </div>
    
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>SG Number </mat-label>
                                <input class="form-control" value="{{docketInfo.sg_NO}}" matInput disabled >
                        </mat-form-field>
                    </div>
                      
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Description </mat-label>
                                <input  class="form-control" value="{{docketInfo.description}}" matInput disabled >
                        </mat-form-field>
                    </div>
    
                      <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>SR Number </mat-label>
                              <input  class="form-control" value="{{docketInfo.sr_NO}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                    </div>
                    
    
                    <div class="form-row mb-4">
              
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Date Received </mat-label>
                                  <input type="text" class="form-control" value="{{docketInfo.date_RECIEVED}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <span>No of Dgms:  - {{docketInfo.no_OF_DGMS}}  Plan Size acceptable
                              {{docketInfo.plansizeaccepptable}}
                          </span>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Land Surveyor</mat-label>
                                  <input  class="form-control" value="{{docketInfo.landsurveyor}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Company Name </mat-label>
                                  <input  class="form-control" value="{{docketInfo.companyname}}" matInput disabled >
                          </mat-form-field>
                          </div>
                    </div>
    
    
                    <div class="form-row mb-4">
                      <div class="col">
                        <mat-form-field appearance="outline" >
                            <mat-label>Submited By </mat-label>
                                <input  class="form-control" value="{{docketInfo.submittedby}}" matInput disabled >
                        </mat-form-field>
                      </div>
    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Returned To </mat-label>
                              <input class="form-control" value="{{docketInfo.returnto}}" matInput disabled >
                      </mat-form-field>
                  </div>
                    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Recieved By </mat-label>
                              <input  class="form-control" value="{{docketInfo.receivedby}}" matInput disabled >
                      </mat-form-field>
                  </div>
    
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Checked By </mat-label>
                            <input  class="form-control" value="{{docketInfo.checkedby}}" matInput disabled >
                    </mat-form-field>
                  </div>
    
                  </div>
    
                  <div class="form-row mb-4">
                    <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Reference number </mat-label>
                              <input  class="form-control" value="{{docketInfo.refnumber}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>File reference </mat-label>
                            <input class="form-control" value="{{docketInfo.filereference}}" matInput disabled >
                    </mat-form-field>
                </div>
                  
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Examination fees </mat-label>
                            <input  class="form-control" value="{{docketInfo.examinationfees}}" matInput disabled >
                    </mat-form-field>
                </div>
    
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>Receipt number  </mat-label>
                          <input  class="form-control" value="{{docketInfo.recieptno}}" matInput disabled >
                  </mat-form-field>
                </div>
    
                </div>
                       
                <div class="form-row mb-4">
                  <div class="col">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Examiner checkList</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card >
                        <form class="text-center border border-light p-5">
                          <div class="col">
                              <table class="table">
                                <thead>
                                  <tr>
                                    
                                    <th scope="col">Exam Items</th>
                                    <th scope="col">Examiner</th>
                                    <th scope="col">Scrutinizer</th> 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of ExaminationItems">
                                
                                    <td>{{item.name}}</td>
                                    <td>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">Yes</label><br>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">No</label><br>
                                    </td>

                                    <td>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">Yes</label><br>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">No</label><br>
                                    </td>
                                
                                  </tr>
                                    
                                  
                                    
                                 
                                </tbody>
                              </table>
                          </div>
                        </form>  
                      </mat-card> 
                    </mat-expansion-panel>
                  </div>

              <div class="col">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Second Level examination</mat-panel-title>
                  
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <div>
                        <section *ngFor="let prev of ExaminationItems">
                          <mat-checkbox
                              [value]="prev">{{prev.name}}
                          </mat-checkbox>
                        </section>
                      </div>
                    </form>  
                  </mat-card> 
                </mat-expansion-panel>
              </div>
                
              

              </div>
                     
                    </form>  
                  </mat-card>
              </mat-expansion-panel>


              <!-- Survey Record Docket -->
              <mat-expansion-panel *ngIf="surveyrecord">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    Survey Record Docket
                  </mat-panel-title>
                  <mat-panel-description>
                      
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <p class="h4 mb-4">SURVEYOR-GENERAL:DIAGRAM EXAMINATION DOCKET</p>
    
                    <div class="form-row mb-4">
                        <div class="col">
                          <mat-form-field appearance="outline" >
                              <mat-label>Batch Number </mat-label>
                                  <input  class="form-control" value="{{docketInfo.batch_NO}}" matInput disabled >
                          </mat-form-field>
                        </div>
    
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>SG Number </mat-label>
                                <input class="form-control" value="{{docketInfo.sg_NO}}" matInput disabled >
                        </mat-form-field>
                    </div>
                      
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Description </mat-label>
                                <input  class="form-control" value="{{docketInfo.description}}" matInput disabled >
                        </mat-form-field>
                    </div>
    
                      <div class="col">
                        <mat-form-field appearance="outline">
                          <mat-label>SR Number </mat-label>
                              <input  class="form-control" value="{{docketInfo.sr_NO}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                    </div>
                    
    
                    <div class="form-row mb-4">
              
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Date Received </mat-label>
                                  <input type="text" class="form-control" value="{{docketInfo.date_RECIEVED}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <span>No of Dgms:  - {{docketInfo.no_OF_DGMS}}  Plan Size acceptable
                              {{docketInfo.plansizeaccepptable}}
                          </span>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Land Surveyor</mat-label>
                                  <input  class="form-control" value="{{docketInfo.landsurveyor}}" matInput disabled >
                          </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Company Name </mat-label>
                                  <input  class="form-control" value="{{docketInfo.companyname}}" matInput disabled >
                          </mat-form-field>
                          </div>
                    </div>
    
    
                    <div class="form-row mb-4">
                      <div class="col">
                        <mat-form-field appearance="outline" >
                            <mat-label>Submited By </mat-label>
                                <input  class="form-control" value="{{docketInfo.submittedby}}" matInput disabled >
                        </mat-form-field>
                      </div>
    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Returned To </mat-label>
                              <input class="form-control" value="{{docketInfo.returnto}}" matInput disabled >
                      </mat-form-field>
                  </div>
                    
                  <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Recieved By </mat-label>
                              <input  class="form-control" value="{{docketInfo.receivedby}}" matInput disabled >
                      </mat-form-field>
                  </div>
    
                    <div class="col">
                      <mat-form-field appearance="outline">
                        <mat-label>Checked By </mat-label>
                            <input  class="form-control" value="{{docketInfo.checkedby}}" matInput disabled >
                    </mat-form-field>
                  </div>
    
                  </div>
    
                  <div class="form-row mb-4">
                    <div class="col">
                      <mat-form-field appearance="outline">
                          <mat-label>Reference number </mat-label>
                              <input  class="form-control" value="{{docketInfo.refnumber}}" matInput disabled >
                      </mat-form-field>
                    </div>
    
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>File reference </mat-label>
                            <input class="form-control" value="{{docketInfo.filereference}}" matInput disabled >
                    </mat-form-field>
                </div>
                  
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Examination fees </mat-label>
                            <input  class="form-control" value="{{docketInfo.examinationfees}}" matInput disabled >
                    </mat-form-field>
                </div>
    
                  <div class="col">
                    <mat-form-field appearance="outline">
                      <mat-label>Receipt number  </mat-label>
                          <input  class="form-control" value="{{docketInfo.recieptno}}" matInput disabled >
                  </mat-form-field>
                </div>
    
                </div>
                       
                <div class="form-row mb-4">
                  <div class="col">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Examiner checkList</mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card >
                        <form class="text-center border border-light p-5">
                          <div class="col">
                              <table class="table">
                                <thead>
                                  <tr>
                                    
                                    <th scope="col">Exam Items</th>
                                    <th scope="col">Examiner</th>
                                    <th scope="col">Scrutinizer</th> 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of ExaminationItems">
                                
                                    <td>{{item.name}}</td>
                                    <td>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">Yes</label><br>
                                      <input type="radio" id="{{item.docketListId}}" name="{{item.docketListId}}">
                                        <label for="{{item.docketListId}}">No</label><br>
                                    </td>

                                    <td>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">Yes</label><br>
                                      <input type="radio" id="{{item.itemCode}}" name="{{item.itemCode}}">
                                        <label for="{{item.itemCode}}">No</label><br>
                                    </td>
                                
                                  </tr>
                                    
                                  
                                    
                                 
                                </tbody>
                              </table>
                          </div>
                        </form>  
                      </mat-card> 
                    </mat-expansion-panel>
                  </div>

              <div class="col">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Second Level examination</mat-panel-title>
                  
                  </mat-expansion-panel-header>
                  <mat-card>
                    <form class="text-center border border-light p-5">
                      <div>
                        <section *ngFor="let prev of ExaminationItems">
                          <mat-checkbox
                              [value]="prev">{{prev.name}}
                          </mat-checkbox>
                        </section>
                      </div>
                    </form>  
                  </mat-card> 
                </mat-expansion-panel>
              </div>
                
              

              </div>
                     
                    </form>  
  
                  </mat-card> 
              </mat-expansion-panel>


              <!-- General Plan Examination Docket -->
              <mat-expansion-panel *ngIf="generalplan">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                    General Plan Examination Docket
                  </mat-panel-title>
                  <mat-panel-description>
                      
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-card>
                  </mat-card>
              </mat-expansion-panel>


             
             
              
              
          </div>
      </div>
  </div>
</div>
