<mat-expansion-panel  *ngIf="diagram">
    <mat-expansion-panel-header>
    <mat-panel-title>
    Diagram Docket
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="generalplan">
    <mat-expansion-panel-header>
    <mat-panel-title>
     General Plan Docket
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="servitudeplan">
    <mat-expansion-panel-header>
    <mat-panel-title>
     Servitude Plan Docket
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="sectionaltitleplan">
    <mat-expansion-panel-header>
    <mat-panel-title>
     Sectional Title Plan Docket
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="surveyrecord">
    <mat-expansion-panel-header>
    <mat-panel-title>
     Survey Record Docket
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        
    </mat-card>
</mat-expansion-panel>