<div class="c" fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="example-card">
        <mat-card-content>
            <div  class="row">
                <h2 style="font-weight: bold;">Reset Password</h2>
            </div>
           
            <!-- <hr> -->
            <div class="row mt-2 mb-2">
                <h5>User ID: </h5>
                <h6 class="ml-1" style="font-weight: bold;">{{user.userName}}</h6>
            </div>
            
            <div  class="row">
            <form [formGroup]="changeFormGroup" fxLayout="column">
        <label style="font-size: 12px;margin-bottom: 0%;">Set New Password <sup style="color: red;">*</sup></label>
                <mat-form-field appearance="outline" style="width: 410px">
                    <input [type]="hiden ? 'password' : 'text'" matInput maxlength="30" placeholder="Password"
                        formControlName="password" autoComplete="off" required>
                    <mat-icon matSuffix (click)="hiden = !hiden">{{hiden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <label style="font-size: 14px;margin-bottom: 0%;">
                    Password must fulfill following criteria : 
                </label>
                <label style="font-size: 14px;margin-bottom: 0%;" class="text-danger col" *ngIf="f.get('password').hasError('required')">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ? 'cancel' : 'check_circle' }}</i>
                    Password is Required!
                </label>
                <label class="col" style="font-size: 14px;margin-bottom: 0%;"
                    [ngClass]="f.get('password').hasError('required') || f.get('password').hasError('minlength')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ||
                        f.get('password').hasError('minlength') ? 'cancel' :
                        'check_circle' }}</i>
                    Use 8 or more characters
                </label>
                <label class="col" style="font-size: 14px;margin-bottom: 0%;"
                    [ngClass]="f.get('password').hasError('required') || f.get('password').hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ||
                        f.get('password').hasError('hasNumber') ? 'cancel' :
                        'check_circle' }}</i>
                    Use a number (e.g. 123)
                </label>
                <label class="col" style="font-size: 14px;margin-bottom: 0%;"
                    [ngClass]="f.get('password').hasError('required') || f.get('password').hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ||
                        f.get('password').hasError('hasCapitalCase') ? 'cancel' :
                        'check_circle' }}</i>
                    User Uppercase letters (e.g. AA)
                </label>
                <label class="col" style="font-size: 14px;margin-bottom: 0%;"
                    [ngClass]="f.get('password').hasError('required') || f.get('password').hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ||
                        f.get('password').hasError('hasSmallCase') ? 'cancel' :
                        'check_circle' }}</i>
                        User lowercase letters (e.g. aa)
                </label>
                <label class="col" style="font-size: 14px;margin-bottom: 0%;"
                    [ngClass]="f.get('password').hasError('required') || f.get('password').hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="font-size: 14px !important;">{{
                        f.get('password').hasError('required') ||
                        f.get('password').hasError('hasSpecialCharacters') ? 'cancel' :
                        'check_circle' }}</i>
                    Use a symbol (e.g.@#%*)
                </label>
                <label class="mt-3" style="font-size: 12px;margin-bottom: 0%;">Confirm New Password <sup style="color: red;">*</sup></label>
                <mat-form-field appearance="outline" style="width: 410px">
                    <input [type]="hidec ? 'password' : 'text'" matInput maxlength="30" placeholder="Confirm Password"
                        formControlName="confirm_password" autocomplete="off" required>
                    <mat-icon matSuffix (click)="hidec = !hidec">{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngFor="let validation of error_messege.confirm_password">
                        <mat-error class="error-message" style="font-size: 14px;margin-bottom: 0%;"
                            *ngIf="f.get('confirm_password').hasError(validation.type) && (f.get('confirm_password').dirty || f.get('confirm_password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-error  *ngIf="f.errors?.ismatch && (f.touched || f.dirty)" style="font-size: 14px;margin-top: 0%;color: red;">
                   The new password and the confirm password should be same.
                </mat-error>
                <div fxLayoutAlign="center center">
                    <button
                     (click)="change_password()" mat-raised-button class="submit-button bover mt-4" style="width: 410px;"
                        >Change</button>
                </div>
            </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>  