.example-card {
    min-width: 320px;
    margin: auto;
}
.c {
    margin-top: 50  px;
}
mat-toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; 
 }
 .text-success {
     color: green !important;
 }

 .submit-button {
    margin-right: 40px;
    line-height: 2;
    background-color: #298f5c;
    width: 160px;
    height: 40px;
    color: #fafafa;
}

.bover:hover {
  background-color: #c58b10;;
}
