<div class="p-l-4">
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div *ngFor="let context of result" class="timeline" style="padding: 10px;">
              <div class="time-label">
                <span class="bg-red">{{context.date | date: "d-MMM-yy"}}</span>
              </div>
              <div *ngFor="let t of context?.timeline">
                <i class="fa fa-check" style="background-color: green;color: white;"></i>
                <div class="timeline-item">
                  <div class="timeline-body">
                    {{t?.actionReq}}
                  </div>
                  <span class="time" style="padding: 10px;"><i class="fas fa-clock"></i> {{t.convertedTime}}</span>
                  <h4 class="timeline-header">{{t.actionTakenBy}}</h4>
                  <div class="timeline-body">
                    {{t.note}}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <div fxLayoutAlign="center center" class="mt-4" *ngIf="result.length === 0 || result.length === undefined">
      <p>No data available</p>
    </div>
  </div>
</div>