<div class="row m-0 feature-opt">
    <div class="col-12 p-0">
        <p style="text-align: center;">Are you sure you want to generate and send password?</p>
    </div>

</div>
<div class="row m-0 feature-opt">
    <div class="col-md-6 m-t-30 p-r-0" style="float: left;">
        <button [mat-dialog-close]="1" class="cancel-button cancel" style="float: right;" mat-button mat-raised-button type="button">
            Cancel
        </button>
    </div>
    <div class="col-6 m-t-30 p-r-0" style="float: right;">
        <button (click)="sendPassword()" class="submit-button bover" mat-raised-button type="button">Send Password</button>
    </div>
</div>
