<h4><span>View Property on Map</span> <span style="margin-left: 10px;margin-top: -5px; float: right;cursor: pointer;">
        <a target="_blank" [href]="mapsrc">Open in separate window</a> &nbsp;&nbsp;<i class="fa fa-window-close"
            aria-hidden="true" color="red" style="font-size: 30px;" (click)="close()"></i>
    </span></h4>
<div style="height: 94%;">
    <iframe allowfullscreen="true" frameborder="0" height="450px" id="iFrameURL" [src]="mapsrc" height="100%" width="100%"></iframe>
</div>