<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img src="assets/images/logos/circle.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="msg-css">Query posted successfully</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4 class="t-css">Thank you for using our services.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>REFERENCE NUMBER</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="req_id">{{refNo}}</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="btn-css mx-auto" (click)="close()">Close</button>
    </div>
</div>