<div class="top-spacing">
    <div class="w-100">
        <div class="container-fluid pr-0">
            <span class="row mx-0">
                <span class="col-lg-11 p-l-0" style="display: inline-flex;">
                    <i style="font-size: 30px; cursor: pointer; margin-right: 20px" (click)="nvaigateToLodgementList()"
                        class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    <h2>Lodgement Draft - {{lodgementDraftData?.name}} of
                        {{lodgementDraftData?.provinceName}}</h2>
                </span>
                <div class="col-lg-1">
                    <div class="dropdown menu" style="margin-top:12px">
                        <span [matMenuTriggerFor]="dropdown">
                            <img alt="" matTooltip="More Action" src="assets/images/Three dots.png">
                        </span>
                        <mat-menu #dropdown="matMenu">
                            <a mat-menu-item (click)="deleteLodgement()">
                                <mat-icon>delete</mat-icon>
                                Remove
                            </a>
                            <a mat-menu-item (click)="previewDraft()">
                                <mat-icon>view_agenda</mat-icon>
                                Preview
                            </a>
                        </mat-menu>
                    </div>
                </div>
            </span>
            <div class="row mx-0 tab-grid-remove">
                <div class="col-lg-12">
                    <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
                        <mat-tab label="Applicant Details">
                            <app-applicant-lodgement *ngIf="lodgementDraftData !== undefined && tabIndex === 0"
                                [draftData]="lodgementDraftData" (outputFromChild)="receiveChildData($event)"
                                [readonly]="readonly" [preview]="preview">
                            </app-applicant-lodgement>
                        </mat-tab>
                        <mat-tab label="Application Details">
                            <app-application-lodgement *ngIf="lodgementDraftData !== undefined && tabIndex === 1"
                                (outputFromChild)="receiveChildData($event)" [draftData]="lodgementDraftData"
                                [readonly]="readonly" [preview]="preview"></app-application-lodgement>
                        </mat-tab>
                        <mat-tab label="Lodgement Document">
                            <app-lodgement-document *ngIf="tabIndex === 2" [draftId]="draftId" [provinceId]="provinceId"
                                [readonly]="readonly" [showOutcome]="showOutcome" [tempData]="tempData"
                                (outputFromChild)="receiveChildData($event)"></app-lodgement-document>
                        </mat-tab>
                        <mat-tab label="Payment Details">
                            <app-payment-details *ngIf="tabIndex === 3" [draftId]="draftId" [provinceId]="provinceId"
                                [readonly]="readonly" [showOutcome]="showOutcome" [preview]="preview"
                                [draftData]="lodgementDraftData" [hideData]="true">
                            </app-payment-details>
                        </mat-tab>
                        <mat-tab label="Annexure">
                            <app-annexure-lodgement *ngIf="lodgementDraftData !== undefined && tabIndex === 4"
                                [draftData]="lodgementDraftData" [draftId]="draftId" [readonly]="readonly"
                                [workflowId]="workflowId" [resubmitData]="resubmitData" [preview]="preview"
                                (outputFromChild)="receiveChildData($event)" [hideData]="false">
                            </app-annexure-lodgement>
                        </mat-tab>
                        <mat-tab label="Summary">
                            <app-summary-lodgement *ngIf="tabIndex === 5" [draftId]="draftId" [provinceId]="provinceId"
                                [readonly]="readonly" [showOutcome]="showOutcome" [preview]="true"
                                [draftData]="lodgementDraftData">
                            </app-summary-lodgement>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>