<div class="d-inline-flex">
    <b class="pt-2 dropdown">
        <a [hidden]="noGrid" data-toggle="dropdown">
            <mat-icon class="apps-menu" matTooltip="Menu" style="cursor: pointer;">apps</mat-icon>
            <div #menu class="dropdown-menu menu-items" (click)="$event.stopPropagation()">
                <mat-form-field appearance="outline" style="padding: 0px 10px;">
                    <mat-label>Search Apps</mat-label>
                    <input [(ngModel)]="searchMenu" autocomplete="off" (ngModelChange)="filterMenu()" matInput>
                </mat-form-field>
                <mat-grid-list cols="3" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let item of filterMenuItems">
                        <div (click)="navigateToRoute(item.route);" class="card card-body menu-item">
                            <mat-icon *ngIf="item.icon !== 1" class="icon-css">{{ item.icon }}</mat-icon>
                            <div *ngIf="item.icon == 1">
                                <i aria-hidden="true" class="fa fa-registered fa-css"> </i>
                            </div>
                            <p class="text-center">{{ item.text }}</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </a>
    </b>
    <b class="pt-2">
        <a [routerLink]="['/queries/my-queries']">
            <mat-icon class="apps-menu" matTooltip="Queries">
                question_answer</mat-icon>
        </a>
    </b>
    <b class="pt-2">
        <a [routerLink]="['/search/cart-page']">
            <mat-icon [matBadge]="searchService.cartLength" matBadgeColor="warn" matTooltip="My Cart" class="cart-menu">
                shopping_cart
            </mat-icon>
        </a>
    </b>
    <b class="pt-2">
        <a [routerLink]="['/general/faq']"> <img src="assets/images/logos/query.png" matTooltip="FAQ"></a>
    </b>

    <b class="pl-4">
    </b>
    <div class="row dropdown mt-1 mr-1 pl-3">
        <span data-toggle="dropdown">
            <!-- <img src="assets/images/users/dp.jpg" style="width: 40px;border-radius: 50%;" [matTooltip]="name"> -->
            <img [matTooltip]="name" [src]="searchService.userProfileImage ? searchService.userProfileImage : 'assets/images/users/dp.jpg'" style="width: 40px;height: 40px;border-radius: 50%;">
        </span>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/assistants']" *ngIf="role.roleId==21">My Assistants</a>
            <a class="dropdown-item" [routerLink]="['/subscriptions/my-subscriptions']">My Subscriptions</a>
            <a class="dropdown-item" [routerLink]="['/general/holiday-calendar']">Holiday List</a>
            <a class="dropdown-item" [routerLink]="['/general/office-timings']">Office Timings</a>
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
            <a class="dropdown-item" (click)="logout()">Sign Out</a>
        </div>
    </div>

</div>
