<h4 mat-dialog-title><span>Mark as Pending</span></h4>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Notes</mat-label>
                    <textarea formControlName="notes" matInput required style="color: black;" #notes></textarea>
                    <span class="pull-right char" style="color: black;"><em>{{ 1000 - notes?.value?.length }} characters left</em></span>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button [mat-dialog-close]="1" class="cancel-button cancel" mat-raised-button>Cancel</button>
    <button (click)="submit()" class="submit-button bover float-right" mat-raised-button>Submit</button>
</div>
