<h4 mat-dialog-title><span>Condition</span><i class="fa fa-window-close" aria-hidden="true" (click)="close()"
        style="right: 401px;font-size: 30px;margin-left: 10px; float: right;cursor: pointer;"></i></h4>
<div mat-dialog-content>
    <form [formGroup]="resDraftForm">
        <span class="row">
            <span class="col-12">
                <mat-form-field appearance="outline" class="input-margin">
                    <mat-label>Step</mat-label>
                    <mat-select [(ngModel)]="step" formControlName="step" matInput required>
                        <mat-option *ngFor="let x of data.resDraftSteps" [value]="x">
                            Step {{x?.stepNo}} - {{ x.requestReason }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <span class="col-12">
                <mat-form-field appearance="outline" class="input-margin">
                    <mat-label>Reference</mat-label>
                    <input formControlName="conditionAlphabet" autocomplete="off" matInput type="text" required>
                </mat-form-field>
            </span>
            <span class="col-12">
                <mat-form-field appearance="outline" class="input-margin">
                    <mat-label>Condition</mat-label>
                    <textarea formControlName="condition" matInput required style="color: black;" #notes></textarea>
                    <span class="pull-right char" style="color: black;"><em>{{ 1000 -
                            resDraftForm.value.condition.length }}
                            characters
                            left</em></span>
                </mat-form-field>
            </span>
        </span>
    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button [mat-dialog-close]="1" class="cancel-button cancel" mat-raised-button>Cancel</button>
    <button (click)="submit()" class="submit-button bover float-right" mat-raised-button>Submit</button>
</div>