<div style="overflow-x: hidden;">
    <div class="fixed-header" id="myTopnav">
        <div class="container">
            <img src="../../../assets/images/logo-new.png">
            <span class="beta-text">BETA</span>

            <div class="topnav-right" style="background-color: white;">

            </div>
        </div>
    </div>
    <div class="container2">
        <img class="bg5" src="../../../assets/images/forest.jpg" width="100%" height="300px">
        <h2 class="bottom-left">KNOW YOUR FEE</h2>
    </div>

    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="c-header">
                    INFORMATION REQUEST SIMULATOR
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="padding: 20px;">RESERVATION SIMULATOR</li>
                    <li class="list-group-item" style="padding: 20px;">LODGEMENT SIMULATOR</li>
                    <li class="list-group-item" style="padding: 20px;">MAINTENANCE SIMULATOR</li>
                    <li class="list-group-item" style="padding: 20px;">NGI DATA SIMULATOR</li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div>
                <h2 style="color: #30a450;">INFORMATION REQUEST SIMULATOR</h2>
                <h3>Availability is subject to the following condition: Research and or preparation
                    requirements for aerial photography products or imagery will be free for the first hour.</h3>


            </div>
            <div class="card">
                <h5 class="card-header b">Step 1: Type of Information</h5>
                <div class="card-body cb">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Type of Information</h5>
                            <h6 class="card-t3">main category of information you're looking</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group" style="width: 100%; border: solid 1px;padding: 10px;">
                                <button type="button" class="btn bc dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Miscellaneous
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Miscellaneous</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Type of Information</h5>
                            <h6 class="card-t3">main category of information you're looking</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group" style="width: 100%; border: solid 1px;padding: 10px;">
                                <button type="button" class="btn bc dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Miscellaneous
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Miscellaneous</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>

                <h5 class="card-header b">Step 2: Supply</h5>
                <div class="card-body cb">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Format</h5>
                            <h6 class="card-t3">the paper you're looking for</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group" style="width: 100%; border: solid 1px;padding: 10px;">
                                <button type="button" class="btn bc dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Hard Copy
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Hard Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Paper Size</h5>
                            <h6 class="card-t3">Lorem ipsum lorem ipsum lorem ipsum</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group" style="width: 100%; border: solid 1px;padding: 10px;">
                                <button type="button" class="btn bc dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    A4
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">A4</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>

                <h5 class="card-header b">Step 3: No. of Items</h5>
                <div class="card-body cb">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Count of Items</h5>
                            <h6 class="card-t3">Lorem ipsum lorem ipsum</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group" style="width: 100%; border: solid 1px;padding: 10px;">
                                <button type="button" class="btn bc dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    A4
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">A4</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>

                <h5 class="card-header b">Step 4: Delivery Method</h5>
                <div class="card-body cb">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Delivery Method</h5>
                            <h6 class="card-t3">Lorem ipsum lorem ipsum lorem ipsum</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group delivery">
                                <!-- <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        COLLECTION
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        COURIER
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        ELECTRONIC
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        POST
                                    </label>
                                </div> -->
                                <mat-radio-group aria-label="Select an option"
                                    style="padding: 20px; border: solid 2px;width: 100%;">
                                    <mat-radio-button value="COLLECTION">COLLECTION</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="COURIER">COURIER</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="ELECTRONIC">ELECTRONIC</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="POST">POST</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5 col-sm-12">
                            <h5 class="card-title">Delivery Method Media</h5>
                            <h6 class="card-t3">Lorem ipsum lorem ipsum lorem ipsum</h6>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="btn-group delivery">
                                <!-- <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        FLASH DRIVE
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        DVD
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        CD
                                    </label>
                                </div>
                                <div class="form-check col-md-3 col-sm-12">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        PAPER
                                    </label>
                                </div> -->
                                <mat-radio-group aria-label="Select an option"
                                    style="padding: 20px; border: solid 2px;width: 100%;">
                                    <mat-radio-button value="FLASH DRIVE">FLASH DRIVE</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="DVD">DVD</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="CD">CD</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="PAPER">PAPER</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button value="None">None</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-12">

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div style="float: right;">
                                <button class="cancel-button cancel" mat-raised-button>Calculate</button>
                                &nbsp;&nbsp;
                                <button class="submit-button bover" mat-raised-button>Reset</button>
                            </div>
                        </div>
                    </div>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="b">

                    <div style="padding: 10px;margin: 10px;">
                        <h5 fxLayoutAlign="center center">The Results are In</h5>
                        <h4 fxLayoutAlign="center center">Total Estimated Cost will be ZAR 1 00
                        </h4>
                    </div>
                    <h4>**Notes:</h4>
                    <h5>This cost may change after the application submition and based on
                        the different effort required for the generation of this data
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="fixed-footer">
    <div class="container">

        <div class="row">
            <div
                class="col-md-12 col-lg-6 mt-4 copyright d-inline-flex justify-content-sm-center justify-content-md-center justify-content-lg-start">
                Copyright © 2021 Harvesting India Pvt Ltd. All Rights Reserved</div>
            <div
                class="col-md-12 col-lg-6 mt-4 d-sm-flex d-lg-inline-flex footer-links footer-blocks justify-content-sm-center justify-content-md-center justify-content-lg-end">
                <div class="mr-4"><a style="font-size: 13px;color:#555">Tel: 08600001</a></div>
                <div class="mr-4"><a style="font-size: 13px;color:#555">Email: cis@drdlr.co.za</a></div>
                <div class="mr-4"><a style="font-size: 13px;color:blue" href="http://10.1.15.216/CIS-Portal/contact-us/"
                        target="_blank">click here
                    </a></div>
            </div>
        </div>
    </div>
</div> -->