<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="text-center">
                        <img alt="user" class="img-circle" src="assets/images/users/1.jpg" title="user" width="80"/>
                        <h4 class="m-t-0">David Miller</h4>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <mat-form-field style="width: 100%">
                                <input [formControl]="form.controls['uname']" matInput placeholder="Username">
                            </mat-form-field>
                            <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched"
                                   class="text-danger support-text">Username is required.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <button [disabled]="!form.valid" class="btn-block btn-lg m-t-10 m-b-10" color="primary"
                                    mat-raised-button type="submit">Unlock
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
