.mat-column-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 28%;
}

.mat-column-issueStatus {
    width: 19%;
}

.mat-column-createdDate {
    width: 28%;
}

.mat-column-action {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 25%;
}

.submit-button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 160px;
    background-color: #016533;
    border: 0;
    height: 44px;
    color: white;
}

.d-submit-button {
    width: 160px;
    height: 40px;
    margin: 8px;
}

.back-button {
    width: 160px;
    height: 44px;
    margin: 8px;
}

table th
/*To remove the horizontal line after header*/

    {
    border-bottom: 0 solid
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #DDC269;
}

@media screen and (max-width: 767px) {}
@media screen and (max-width: 753px) {}
@media screen and (max-width: 711px) {}

@media screen and (max-width: 667px) {}
@media screen and (max-width: 640px) {}

@media screen and (max-width: 569px) {}
@media screen and (max-width: 533px) {}
@media screen and (max-width: 480px) {

    ::ng-deep .table-margin tr td{  padding: 10px !important;  }
}
@media screen and (max-width: 424px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 400px) {}
@media screen and (max-width: 390px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}

.submit-button {
    line-height: 2;
    background-color: #298f5c;
    width: 160px;
    height: 40px;
    color: #fafafa;
    margin-right: 3.2%;
}
.bover:hover {
    background-color: #c58b10;;
}