.box {
    border: solid 1px #e2e2e3;
    border-radius: 8px;
}

.example-margin {
    margin: 0 10px;
    font-size: 14px !important;
    font-weight: 500;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #066636 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #DDC269;
}

::ng-deep .mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.mat-column-sgNo {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mat-column-diagram_type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text-css {
    opacity: 0.4;
    font-size: 14px;
    font-weight: 500;
}

.grid-css {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.list-block {
    border-radius: 8px;
    border: solid 1px #e2e2e3;
}

.query-css {
    font-size: 14px !important;
    font-weight: 500;
    color: black !important;
}

.submit-button {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 120px;
  background-color: #016533;
  border: 0;
  height: 40px;
  color: white;
}

.execute-button {
    background-color: #298f5c;
    width: 100px;
    height: 40px;
    color: #fafafa;
    margin-top: 84px !important;
}


.buttonsize{
    width: 30% !important;
    margin:2px;
    margin-top: 30px;
}

.clear-button {
    /* width: 75px; */
    height: 40px;
    color: green;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #ffffff; 
    /* #f48222; */
}

.back:hover{
    background-color: lightgray;
    color: white;
}

.bhover:hover{
    background: #c58b10;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  /* .mat-table {
    overflow: auto;
  } */
  
  .table-container {
    width: 100%;
    overflow: auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
     .full{
      width: 500px;
      margin-top: 50px;
  }
    
    .top-right{
    position: absolute;
    top: 8px;
    right: 2px;
    
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
   
  th{
    color: black;
  }
  
  .dd{
    width:30%;
  }

  .mat-sort-header-content {
    /* text-align: center; */
    display: inline-block !important;
    /* align-items: center; */
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

.header-cell {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #333333 !important;
}

.ag-header-container, .ag-floating-top-container, .ag-floating-bottom-container {
  background-color: #DDC269 !important;
}

.ag-theme-alpine .ag-row {
  font-weight: 500 !important;
  font-family: 'roboto' !important;
}