.centerlize {
    width: 100%;
    width: 100 wh;
    background-color: blue;
    color: white;
}

.card {
    margin: 15px;
}

.submit-button {
    margin-right: 10px;
    line-height: 2;
    background-color: #298f5c;
    width: 109px;
    height: 40px;
    color: #fafafa;
    letter-spacing: normal;
    text-align: center;
}

.bover:hover {
  background-color: #c58b10;;
}

