<h4 mat-dialog-title><span>Document and estimated cost<i class="fa fa-window-close" aria-hidden="true" (click)="close()"
            style="right: 401px;font-size: 30px;margin-left: 10px; float: right;cursor: pointer;"></i></span></h4>
<div mat-dialog-content>

    <div class="row">



        <div class="row mx-0">
            <!-- <div> -->
            <mat-card class="card-table-tasks" style="cursor: pointer; width: -webkit-fill-available">
                <mat-card-content class="table-tasks" style="overflow-x: hidden;">
                    <!-- <div class="row"> -->
                    <table [dataSource]="dataSource" class="table-margin w-100 m-0 inline-table" mat-table matSort
                        *ngIf="paymentDetailsData.length > 0 && paymentDetailsData !== undefined">

                        <ng-container matColumnDef="documentType">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Document Type</th>
                            <td *matCellDef="let element" mat-cell>{{element?.documentType}}</td>
                            <td mat-footer-cell *matFooterCellDef>Total</td>
                        </ng-container>
                        <ng-container matColumnDef="purposeType">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Purpose Type</th>
                            <td *matCellDef="let element" mat-cell>{{element?.purposeType}}</td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="count">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>No Of Document</th>
                            <td *matCellDef="let element" mat-cell>
                                <div style="text-align: right;padding-right:25px;">
                                    {{element?.count}}
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                <div style="text-align: right;padding-right:25px;">
                                    {{totalDoc}}
                                </div>
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="noOfPages">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>No Of Pages</th>
                            <td *matCellDef="let element" mat-cell>{{element.noOfPages}}</td>
                            <td mat-footer-cell *matFooterCellDef>11</td>
                        </ng-container> -->
                        <ng-container matColumnDef="totalCost">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Estimated Cost(R)</th>
                            <td *matCellDef="let element" mat-cell>
                                <div style="text-align: right;padding-right:3px;">
                                    {{element?.totalCost | number : '1.2-2'}}
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                <div style="text-align: right;padding-right:3px;">{{totalAmount | number : '1.2-2'}}
                                </div>
                            </td>
                        </ng-container>

                        <tr *matHeaderRowDef="columns" mat-header-row></tr>
                        <tr *matRowDef="let myRowData; columns: columns" mat-row></tr>
                        <tr mat-footer-row *matFooterRowDef="columns; sticky: true"></tr>
                    </table>
                    <div fxLayoutAlign="center center" class="mt-4"
                        *ngIf="paymentDetailsData?.length === 0 || paymentDetailsData === undefined">
                        <p>No data available</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- </div> -->
        </div>

    </div>

</div>