.main-image {
    width: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.r-margin {
    margin-right: 8px;
    font-size: 12px;
    font-weight: 300;
}

.fixed-header,
.fixed-footer {
    width: 100%;
    /* position: fixed; */
    background: #fff !important;
    padding: 10px 0;
    color: #fff;
    box-shadow: 0 2px 10px 0 #ddd;
    z-index: 1030
}

.fixed-header a:hover {
    background-color: #ddd;
    color: black;
}

.fixed-header a.active {
    background-color: #4CAF50;
    color: white;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    /* Center the DIV horizontally */
}

nav a {
    /* color: #fff; */
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.beta-text[_ngcontent-serverApp-c132] {
    position: absolute;
    font-size: 11px;
    font-weight: 700;
    background: #30a450;
    color: #fff;
    padding: 0 3px;
}

.topnav-right {
    float: right;
}






.fixed-header .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .fixed-header a:not(:first-child) {
        display: none;
    }

    .fixed-header a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .fixed-header.responsive {
        position: relative;
    }

    .fixed-header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .fixed-header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.bg5
{
width: 100%;
z-index: 0;
}

.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

.container2 {
position: relative;
text-align: center;
width: 100%;
color: white;
}

li { background: rgb(243, 245, 243); 
cursor: pointer;
}
/* li:nth-child(odd) { background: white; } */


.c-header{
background-color: #00A14B;
padding: 20px;
}

.b{
background-color: #00A14B;
padding: 20px;
color: white;
}

.cb{
background-color: #06441F;
 color: white
}

.bc{
background-color: white;
padding: 20px;
width: 100%;
}
.card-t3{
color: #3DEF98;
}
.br{
padding: 10px;
width: 100%;
background-color: white;
color: black;
font-size: 10px;
/* border: solid 2px; */

}

.cancel-button {
width: 120px;
height: 44px;
color: white;
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
border-radius: 8px;
border: 1px solid black;
background-color: red; 
}

.cancel:hover{
background-color: lightgray;
}

.submit-button {
border-radius: 8px;
font-size: 16px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
width: 120px;
background-color: #c58b10;
border: 0;
height: 44px;
color: white;
}
.bover:hover {
background-color: #c58b10;;
}

.step1{
background-color: white;
color: black;
/* font-size: 10px; */
}
.mat-form-field-appearance-outline .mat-form-field-outline {
color: white;
}
/* Font color */
::ng-deep .mat-select-content{
width:2000px;
background-color: red;
font-size: 10px;   
}

.my-select-panel-class {
width:20px;
max-width:20px;
background-color: red;
font-size: 10px;
}

.delivery{
border: solid 1px;
padding: 10px;
width: 100%;
background-color: white;
color: black;
font-size: 10px;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}
