<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <mat-spinner *ngIf="isSpinnerVisible" class="center">
    </mat-spinner>
    <div *ngIf="!isSpinnerVisible" class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/logo-icon.png">
                        <h4 class="m-t-0">Reset Password</h4>
                    </div>
                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <mat-form-field style="width: 100%">
                                <input [(ngModel)]="currentPassword" [formControl]="form.controls['currentPassword']"
                                       [type]="hide1 ? 'password' : 'text'"
                                       matInput
                                       placeholder="Current Password" type="password">
                                <button [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" mat-icon-button
                                        matSuffix>
                                    <mat-icon (click)="hide1=!hide1">{{hide1 ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                            <small
                                    *ngIf="form.controls['currentPassword'].hasError('required') && form.controls['currentPassword'].touched"
                                    class="text-danger support-text">Current password Required.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <mat-form-field style="width: 100%">
                                <input [(ngModel)]="newPassword" [formControl]="form.controls['password']"
                                       [type]="hide2 ? 'password' : 'text'"
                                       matInput placeholder="New Password"
                                       type="password">
                                <button [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" mat-icon-button
                                        matSuffix>
                                    <mat-icon (click)="hide2=!hide2">{{hide2 ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                            <small
                                    *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                    class="text-danger support-text">You must include password.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <mat-form-field style="width: 100%">
                                <input [(ngModel)]="confirmPassword" [formControl]="form.controls['confirmPassword']"
                                       [type]="hide3 ? 'password' : 'text'" matInput
                                       placeholder="Confirm Password" type="password">
                                <button [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3" mat-icon-button
                                        matSuffix>
                                    <mat-icon (click)="hide3=!hide3">{{hide3 ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                            <small
                                    *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                                    class="text-danger support-text">You must include confirm password.</small>
                            <small *ngIf="form.controls['confirmPassword'].errors?.equalTo"
                                   class="text-danger support-text">Passwords do not match.</small>
                        </div>
                        <button [disabled]="!form.valid" class="btn-block btn-lg m-t-20 m-b-20" color="primary"
                                mat-raised-button
                                type="submit">Update Password
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
