<div class="padd-right">
    <span class="row mx-0 mt-3">
        <span class="col-12">
            <div>
                <mat-card>
                    <form [formGroup]="formApplication" class="m-3 p-3">
                        <div class="row mx-0 mt-2">
                            <!-- <div class="col-md-2">
                                <label style="font-weight: bold;">Name:</label>
                            </div> -->
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input formControlName="name" [readonly]="readonly" matInput required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <!-- <div class="col-md-2">
                                <label style="font-weight: bold;">Purpose:</label>
                            </div> -->
                            <div class="col-6">
                                <div>
                                    <label style="color: #6c757d;">Purpose:</label>
                                </div>
                                <quill-editor #quill [styles]="{height: '200px'}" formControlName="purpose" required
                                    [ngModelOptions]="{ standalone: true }">
                                </quill-editor>
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <!-- <div class="col-md-2">
                                <label class="mt-4" style="font-weight: bold;">File Reference:</label>
                            </div> -->
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>File Reference</mat-label>
                                    <input matInput autocomplete="off" formControlName="fileRef">

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row mx-0 mt-2" *ngIf="processId !== 239">
                            <!-- <div class="col-md-2">
                                <label class="mt-4" style="font-weight: bold;">Survey Date(if any):</label>
                            </div> -->
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Survey Date</mat-label>
                                    <input formControlName="surveyDate" [matDatepicker]="picker1" matInput
                                        autocomplete="off" [readonly]="readonly" [max]="maxDate">
                                    <mat-datepicker-toggle [readonly]="readonly" [for]="picker1" matSuffix>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker [readonly]="readonly" #picker1></mat-datepicker>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row mx-0 mt-2">

                            <!-- <div class="col-md-2">
                                <label class="mt-4" style="font-weight: bold;">
                                    <p class="heading">Delivery Method</p>
                                </label>
                            </div> -->
                            <div class="col-12 ">
                                <label class="mt-2" style="font-weight: bold;">
                                    <p class="heading">Delivery Method</p>
                                </label>
                                <mat-card class="gray-card">
                                    <mat-card-content>
                                        <div class="row">
                                            <mat-radio-group [(ngModel)]="selectedMode" aria-label="Select an option"
                                                formControlName="deliveryMethodItemId">
                                                <mat-radio-button *ngFor="let x of selectedModes" [value]="x.itemId"
                                                    class="r-margin">{{x.caption}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="row">
                                            <p>Select the delivery method you would want to use for the requesting items
                                                and
                                                enter the necessary
                                                details.
                                            </p>
                                        </div>

                                        <div *ngIf="selectedMode === 79 || selectedMode === 168">
                                            <!-- <div class="row">
                                                <p class="heading">Confirm your Address</p>
                                            </div> -->
                                            <!-- <div class="row mt-2">
                                                <p class="add-text">Confirm the address or add a new address by editing
                                                    the
                                                    current
                                                    address.
                                                </p>
                                            </div> -->
                                            <div class="row f-css">
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Receiver's Name</mat-label>
                                                        <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                                                            disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Email Address</mat-label>
                                                        <input [(ngModel)]="emailDelivery"
                                                            [ngModelOptions]="{standalone: true}" disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Address Line 1</mat-label>
                                                        <input [(ngModel)]="add1" [ngModelOptions]="{standalone: true}"
                                                            disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label> Address Line 2</mat-label>
                                                        <input [(ngModel)]="add2" [ngModelOptions]="{standalone: true}"
                                                            disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label> Address Line 3</mat-label>
                                                        <input [(ngModel)]="add3" [ngModelOptions]="{standalone: true}"
                                                            disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Phone No.</mat-label>
                                                        <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
                                                            disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Postal Code</mat-label>
                                                        <input [(ngModel)]="postalCode"
                                                            [ngModelOptions]="{standalone: true}" disabled matInput>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="selectedMode === 80">

                                            <div class="row f-css mt-2">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Collect From:</mat-label>
                                                    <textarea [value]="collectionAddress" disabled matInput
                                                        style="color: black;"></textarea>
                                                    <!-- <span class="pull-right char" style="color: black;"><em>{{ 1000 -
                                                            collectionAddress?.length }} characters left</em></span> -->
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <p>Your Items Should be collected in the below location once after we
                                                    schedule date and
                                                    time.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="selectedMode === 206">
                                            <div class="col-6 col-md-6 mt-2">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>IsPrimary</mat-label>
                                                    <mat-select matInput [(ngModel)]="isPrimary"
                                                        formControlName="isPrimaryEmail"
                                                        (selectionChange)="setPrimaryEmail($event)"
                                                        [readonly]="readonly">
                                                        <mat-option [value]="1" [readonly]="readonly"> Primary
                                                        </mat-option>
                                                        <mat-option [value]="0" [readonly]="readonly"> Secondary
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6 col-md-6 mt-2">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Email Address</mat-label>
                                                    <input [(ngModel)]="electronicEmail"
                                                        [ngModelOptions]="{standalone: true}" [readonly]="readonly"
                                                        [disabled]='disableEmail' matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>

                            </div>

                        </div>
                        <div class="row my-3 ">
                            <div class="col mb-3">
                                <span class="float-right">
                                    <button [hidden]="readonly" mat-raised-button class="submit-button bover"
                                        (click)="updateDraft('Application')"
                                        style="height: 44px; margin-right: 5px;">Update</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </span>
    </span>
</div>