<div class="top-spacing">
    <div class="w-100">
        <div class="container-fluid pr-0">
            <span class="row mx-0">
                <span class="col-lg-11 p-l-0" style="display: inline-flex;">
                    <p class="Headings">Lodgement</p>
                </span>
            </span>
            <div class="row mx-0 tab-grid-remove">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card filter-card">
                    <div class="row" style="margin: 0px -15px !important;">
                        <span class="col">
                            <mat-form-field appearance="outline" style="width: 350px;margin-top:10px">
                                <mat-label>Search Draft Lodgement</mat-label>
                                <input matInput autocomplete="off" (keyup)="filterAll($event)">
                                <button mat-icon-button matSuffix type="button">
                                    <mat-icon type="submit">search
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-icon class="float-right" (click)="createDraft()" matTooltip="Create Draft"
                                style="cursor: pointer; color:green; font-size: 32px;margin-top:24px;width:50px!important;">
                                add_circle
                            </mat-icon>

                        </span>
                    </div>
                    <mat-card class="card-table-tasks" style="margin: 0px -15px !important;">
                        <mat-card-content class="table-tasks common-style">
                            <div *ngIf="filteredDrafts.length > 0 && filteredDrafts !== undefined">
                                <table [dataSource]="dataSourceList" class="table-margin w-100 m-0 inline-table"
                                    mat-table>
                                    <ng-container matColumnDef="draftName">

                                        <td *matCellDef="let element" mat-cell (click)="gotoLodgementDetails(element)">
                                            <div class="cell-task">
                                                <a class="req-highlight truncate" matTooltip="{{element.draftName}}"
                                                    style="color: blue;cursor: pointer;width:168px"
                                                    (click)="gotoLodgementDetails(element)">{{ element.name
                                                    }}</a>
                                                {{ element.provinceName }}
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="username">
                                        <td *matCellDef="let element" mat-cell>
                                            <div class="cell-task" style="margin-right: 10px">
                                                {{element.userName}}
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="updated">
                                        <td *matCellDef="let element" mat-cell>
                                            {{element.updatedOn | date:"d-MMM-y"}}
                                        </td>
                                    </ng-container>
                                    <tr *matRowDef="let row; columns: lodgementColumns;" mat-row></tr>
                                </table>
                                <div>
                                    <mat-paginator #paginator2 [length]="dataLength" [pageSizeOptions]="[10]"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>

                            </div>
                            <div fxLayoutAlign="center center" class="mt-4"
                                *ngIf="filteredDrafts.length === 0 || filteredDrafts === undefined">
                                <p>No data available</p>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col-lg-8">

                    <div class="padd-right">
                        <span class="row mx-0">
                            <span class="col padd-right">

                                <mat-card class="card-table-tasks">

                                    <mat-card-content class="table-tasks" style="overflow-x: hidden;">
                                        <div class="row p-0 m-0">
                                            <div class="col-md-6 mt-3">
                                                <div class="sub-heading">Submitted Lodgement Requests</div>
                                            </div>
                                            <div class="col-md-5 mt-2 float-right">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Search By Reference Number</mat-label>
                                                    <input matInput autocomplete="off"
                                                        (keyup)="filterReservationRequests($event)">
                                                    <button mat-icon-button matSuffix type="button">
                                                        <mat-icon type="submit">search
                                                        </mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1 mt-3">
                                                <!-- <span class="col"> -->
                                                <a (click)="download()" class="download-css float-right">
                                                    <mat-icon matTooltip="Download">file_download</mat-icon>
                                                </a>
                                                <!-- </span> -->
                                            </div>
                                        </div>

                                        <table [dataSource]="dataSourceLodgementList"
                                            *ngIf="dataSourceLodgement.length > 0 && dataSourceLodgement !== undefined"
                                            class="table-margin w-100 m-0 inline-table" mat-table #table2 matSort>
                                            <ng-container matColumnDef="referenceNumber">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header
                                                    style="padding-left: 10px;border-top-left-radius: 8px;border-bottom-left-radius: 8px;">
                                                    Reference</th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell
                                                    style="padding-left: 10px;color: blue;cursor: pointer;"
                                                    (click)="gotolodgement(element)">
                                                    {{element.referenceNumber}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="reservationName">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    {{element.reservationName}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="processName">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Context
                                                </th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    {{element.processName}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="provinceName">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Province</th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    {{element.provinceName}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="actionRequiredCaption">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Stage
                                                </th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    {{element.actionRequiredCaption}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="internalStatusCaption">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header> Status
                                                </th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    <span [className]="element.internalStatusCaption === 'Approved' ? 's-Approved' : 
                                                    (element.internalStatusCaption === 'In Progress' ? 's-InProgress' : 
                                                    (element.internalStatusCaption === 'Pending' ? 's-pending' : 
                                                    (element.internalStatusCaption === 'Reserved' ? 's-Reserved' : 
                                                    's-completed')))">{{element.internalStatusCaption}}
                                                    </span>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="triggeredOn">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header> Pending Since
                                                </th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    <span
                                                        *ngIf="element.internalStatusCaption === 'Reserved' || 
                                                    element.internalStatusCaption === 'Canceled' ||element.internalStatusCaption === 'Deleted'? false : true">
                                                        {{element.triggeredOn |
                                                        dateDifference:serverDate}}
                                                    </span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="lastStatusUpdate">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header
                                                    style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                                                    Last Updated</th>
                                                <td *matCellDef="let element" class="cell-task" mat-cell>
                                                    {{element.lastStatusUpdate |
                                                    date:"d-MMM-y"}}</td>
                                            </ng-container>
                                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                        </table>
                                        <div
                                            *ngIf="dataSourceLodgement.length > 0 && dataSourceLodgement !== undefined">
                                            <mat-paginator #paginator1 [length]="dataLengthRes"
                                                [pageSizeOptions]="[10,15,20]" [pageSize]="10" showFirstLastButtons>
                                            </mat-paginator>
                                        </div>
                                        <div fxLayoutAlign="center center" class="mt-4"
                                            *ngIf="dataSourceLodgement.length === 0 || dataSourceLodgement === undefined">
                                            <p>No data available</p>
                                        </div>
                                    </mat-card-content>
                                </mat-card>

                            </span>
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>