.req_id {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #f48222;
}

.t-css {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c757d;
}

.msg-css {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333333;
}

.submit-button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 120px;
    background-color: #016533;
    border: 0;
    height: 44px;
    color: white;
}
.bover:hover {
    background-color: #c58b10;;
}

.cancel:hover{
    background-color: lightgray;
}

.cancel-button {
    width: 120px;
    height: 40px;
    color: green;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #ffffff; 
}

.mat-footer-cell{
      height: 36px !important;
    background-color: #ddc269 !important;
        text-align: left;
        font-weight: bold;
}

/* .table-tasks tr.mat-footer-row {
    background-color: #F1F1F1;
    border-bottom: 8px solid #fafafa;
    text-align: center;
} */