.mat-column-sno {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mat-column-action {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submit-button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 120px;
    background-color: #016533;
    border: 0;
    height: 44px;
    color: white;
}

.bover:hover{
    background: #c58b10;
}