<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <img alt="" src="assets/images/logos/circle.png">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="msg-css">Thank You For Signing Up!</p>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button (click)="close()" class="submit-button pull-right mx-auto" style="margin-top: 44px;">Get Instant Access Now!</button>
    </div>
</div>