<h4 mat-dialog-title><span>Information Type</span></h4>
<div mat-dialog-content>
    <form>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <mat-form-field appearance="outline">
                    <mat-label>Format</mat-label>
                    <mat-select matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="ngiData.format != null?ngiData.format.itemId:ngiData.format">
                        <mat-option (onSelectionChange)="onchange(y)" *ngFor="let y of formatType"
                            [value]="y!= null?y.itemId:y">
                            {{y.caption}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Notes</mat-label>
                    <textarea [(ngModel)]="ngiData.notes" [ngModelOptions]="{standalone: true}" matInput style="color: black;"></textarea>
                    <span class="pull-right char" style="color: black;"><em>{{ 1000 -
                        ngiData.notes?.length }} characters
                            left</em></span>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button [mat-dialog-close]="1" class="cancel-button cancel" mat-raised-button>Cancel</button>
    <button (click)="addToCart()" class="submit-button bover float-right" mat-raised-button>Submit</button>
</div>