
.card-table-my-reuest {
    margin-left: 0 !important;
    margin-top: 0 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.Headings {
    height: 29px;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    /* margin-bottom: 12px; */
    margin-bottom: 20px;
}

.table-requests .mat-header-row th {
    font-size: 14px !important;
    color: #333333 !important;
}

.table-requests .mat-cell {
    font-size: 14px !important;
    color: #666666 !important;
}

.mat-column-reference {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 12%;
}

.mat-column-adminDep {
    width: 16%;
}

.mat-column-farmNumber {
    width: 12%;
}

.mat-column-farmName {
    width: 16%;
}

.mat-column-lpiCode {
    width: 16%;
}

.mat-column-pendingSince {
    width: 14%;
}

.mat-column-lastStatusUpdatedOn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 14%;
}

.mat-column-issueType {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 33%;
}

.mat-column-issueStatus {
    width: 33%;
}

.mat-column-date {
    width: 33%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submit-button {
    width: 100%;
    height: 44px;
}

.main {
    padding: 5%;
}

.common-style {
    font-size: 14px !important;
    font-weight: 500 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #DDC269;
}

.mat-card-right-inline{
    font-size: 14px;
    font-weight: 500;
}


@media screen and (max-width: 533px) {
    .row.rowmobile{ position: relative; display: block;}
    .row.rowmobile .col.colOne{ display: block;}
    .row.rowmobile .col.colTwo{ position: absolute; top: 0px; right: 0px;}
    .row.rowmobile .col.colTwo p{ padding-top: 3px !important;}

}

.requests-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.queries-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-tasks td.mat-cell:first-of-type {
    padding: 10px 16px 10px 16px;
    width: 66px;
}

.table-tasks td.mat-cell {
    border: 0;
}

.table-tasks tr.mat-row {
    background-color: #F1F1F1;
    border-bottom: 8px solid #fafafa;
}

.table-tasks tr.mat-row:last-of-type {
    border-bottom: 0;
}

.card-table-tasks {
    margin-left: 0 !important;
    margin-top: 0 !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.table-tasks span:first-child {
    padding-left: 16px;
    margin-top: 12px;
}

.table-tasks span:nth-child(2) {
    margin-left: -10px;
    margin-top: 12px;
}

.table-tasks span:nth-child(2) p {
    margin-bottom: 4px;
}

.table-tasks span:nth-child(2) p:first-child {
    font-size: 16px;
    color: #333333;
}

.table-tasks span:nth-child(2) p:nth-child(2) {
    font-size: 14px;
    color: #666666;
}

.table-tasks .row {
    border-bottom: 1px solid #e2e2e3;
}

.table-tasks .row:last-child {
    border-bottom: 0;
}
.inline-table {
    display: inline-table;
}

.overflow-auto {
    overflow: auto;
}


.common-style {
    font-size: 14px !important;
    font-weight: 500 !important;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 24px;
    width: 56px;
    height: 56px;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: #fcab17;
    vertical-align: middle;
    margin-right: 20px;
    color: white;
}

.mat-card .table-tasks {
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #fafafa;
    border: 1px solid #e2e2e3;
    position: relative;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

.my_request{
    color: #0880c3 !important;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.mat-row-cell {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.truncate {
    width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    /* text-overflow: ellipsis !important; */
}

.cell-time-ago {
    width: 80px;
    height: 24px;
    font-size: 10px;
    color: #fafafa;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #f1f1f1;
}

.cell-time-ago p {
    display: inline;
    vertical-align: top;
}

.table-tasks .cell-time-ago:first-of-type {
    background-color: #ff5e5e;
}

.table-tasks .cell-time-ago:nth-of-type(2) {
    background-color: #f6c546;
}